
html {
    color: rgb(2, 2, 2); background-color: rgb(190, 144, 30); 
    font-family: 'Times New Roman', Times, serif; font-size: 16px;
    font-weight: 400;
    margin: 1;
}
h1{
    font-weight: 200;
}  
ul{
    color:rgb(2, 2, 2);
}
.grid{
    display: grid;
    grid-template-columns: 100%;
    gap: 1em;
}
.grid ul:hover{
    border: 1px solid rgb(145, 143, 143);
}
.boton{
    
    align-items:center;
    background-color: rgb(145, 143, 143);
    border-radius: 5px;
    color: rgb(2, 2, 2);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    height: 80px;
    width: 450px;
}

.imagen{
    background: center;
    border-radius: 50%;
    border: 1px solid var(--gris-oscuro);
    box-shadow: 8px 16px 32px 0px var(--shadow);
    height: 300px;
    margin-top: 80px;
    width: 300px;
}